---
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
  description?: string
}

const {
  title,
  description = 'Discover and sing along with classic Christmas carols. Find lyrics, history, and the meaning behind your favorite holiday songs.',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/carold-park-promo.png" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen bg-gradient-to-b from-gray-800 to-gray-700 text-white"
  >
    <slot />
  </body>
</html>
